:root {
  --color-bg-main: #a15319a3;
  --color-bg-secondary: #131c1c;
  --color-text: #cac8c8;
  --color-gold: #d4af37;
  --color-muted: #777;
  --color-button: #bc914c;
}

body {
  font-family: sans-serif;
  background: var(--color-bg-main);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 100vh;
  padding: 2rem;
}

main {
  background: #0d0d0c;
  padding: 2rem;
  border-radius: 8px;
  max-width: 80%;
  margin: 0 auto;
}

.title-like {
  color: #b99f62;
}

nav a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 0.5rem;
}
