.homePage {
  background: var(--color-bg-secondary);
  border-radius: 1rem;
  max-width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  color: var(--color-text);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.title_h1 {
  text-align: center;
  color: var(--color-title_h1);
  margin-bottom: 2rem;
}
.title_h2 {
  text-align: center;
  color: var(--color-title_h2);
  margin-bottom: 2rem;
}
